n8n/workflows/daily-report.json
{
  "name": "Daily Treasury Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Daily 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CIRCLE_GATEWAY_URL || 'https://gateway-api.circle.com' }}/v1/balances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CIRCLE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"address\": \"{{ $env.CIRCLE_TREASURY_ADDRESS }}\",\n  \"sources\": [\n    { \"domain\": 0 },\n    { \"domain\": 3 },\n    { \"domain\": 6 }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-balance",
      "name": "Fetch Circle Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [220, -100],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gateway.thegraph.com/api/{{ $env.GRAPH_API_KEY }}/subgraphs/id/{{ $env.GRAPH_SUBGRAPH_ARBITRUM || '5zvR82QoaXYFyDEKLZ9t6v9adgnptxYpKpSbxtgVENFV' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{ bundles(first: 1) { ethPriceUSD } }\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-price",
      "name": "Fetch ETH Price (The Graph)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [220, 100],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [350, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Process merged data from Circle Gateway and The Graph\nconst items = $input.all();\n\nlet balanceData = {};\nlet priceData = {};\n\n// Identify which response is which by structure\nfor (const item of items) {\n  const json = item.json || {};\n  if (json.data?.bundles) {\n    priceData = json;\n  } else if (json.balances || json.data?.balances || json.success === false) {\n    balanceData = json;\n  }\n}\n\n// Parse Circle balance\nlet totalUsdc = 0;\nconst chainBalances = [];\nconst domainNames = {\n  0: 'Ethereum',\n  3: 'Arbitrum', \n  6: 'Base'\n};\n\nconst balances = balanceData.balances || balanceData.data?.balances || [];\nfor (const balance of balances) {\n  const amount = parseFloat(balance.amount || '0') / 1e6;\n  totalUsdc += amount;\n  chainBalances.push({\n    chain: domainNames[balance.domain] || `Domain ${balance.domain}`,\n    amount: amount,\n  });\n}\n\n// Parse ETH price from The Graph bundles\nlet ethPrice = 0;\nif (priceData.data?.bundles?.[0]) {\n  ethPrice = parseFloat(priceData.data.bundles[0].ethPriceUSD) || 0;\n}\n\n// Format for display\nconst formatCurrency = (n) => `$${n.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`;\n\nconst chainList = chainBalances.length > 0\n  ? chainBalances.map(c => `  - ${c.chain}: ${formatCurrency(c.amount)}`).join('\\n')\n  : '  No balances found';\n\nreturn [{\n  json: {\n    title: 'Daily Treasury Report',\n    date: new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }),\n    totalBalance: formatCurrency(totalUsdc),\n    totalBalanceRaw: totalUsdc,\n    ethPrice: formatCurrency(ethPrice),\n    ethPriceRaw: ethPrice,\n    chainBreakdown: chainList,\n    chainBalances,\n    timestamp: new Date().toISOString(),\n  }\n}];"
      },
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_REPORTS }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"{{ $json.title }}\",\n    \"description\": \"{{ $json.date }}\",\n    \"color\": 3447003,\n    \"fields\": [\n      {\n        \"name\": \"Total USDC Balance\",\n        \"value\": \"{{ $json.totalBalance }}\",\n        \"inline\": true\n      },\n      {\n        \"name\": \"ETH Price\",\n        \"value\": \"{{ $json.ethPrice }}\",\n        \"inline\": true\n      },\n      {\n        \"name\": \"Chain Breakdown\",\n        \"value\": \"```{{ $json.chainBreakdown }}```\"\n      }\n    ],\n    \"footer\": {\n      \"text\": \"Treasury Ops Bot | Data: Circle Gateway + The Graph\"\n    },\n    \"timestamp\": \"{{ $json.timestamp }}\"\n  }]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "discord-report",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [660, -100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Skip Appwrite save - fetch() not available in Code nodes\nconst items = $input.all();\nconst data = items[0]?.json || {};\nreturn [{ json: { saved: false, reason: 'Appwrite save disabled - use HTTP Request node instead', data: data } }];"
      },
      "id": "save-appwrite",
      "name": "Save to Appwrite",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 100]
    }
  ],
  "connections": {
    "Daily 9 AM": {
      "main": [
        [
          { "node": "Fetch Circle Balance", "type": "main", "index": 0 },
          { "node": "Fetch ETH Price (The Graph)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Circle Balance": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 0 }]
      ]
    },
    "Fetch ETH Price (The Graph)": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 1 }]
      ]
    },
    "Merge Data": {
      "main": [
        [{ "node": "Format Report", "type": "main", "index": 0 }]
      ]
    },
    "Format Report": {
      "main": [
        [
          { "node": "Send to Discord", "type": "main", "index": 0 },
          { "node": "Save to Appwrite", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
