n8n/workflows/get-balance.json
{
  "name": "Get Balance (API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-balance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "get-balance"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Fetch Gateway balances from Circle REST API (accurate available balance)\nconst fetch = require('node-fetch');\nconst CIRCLE_GATEWAY_URL = $env.CIRCLE_GATEWAY_URL || 'https://gateway-api.circle.com';\nconst depositor = $env.TREASURY_ADDRESS;\n\nconst sources = [\n  { domain: 0, depositor },\n  { domain: 3, depositor },\n  { domain: 6, depositor },\n];\n\nconst response = await fetch(`${CIRCLE_GATEWAY_URL}/v1/balances`, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({ token: 'USDC', sources }),\n});\n\nif (!response.ok) {\n  const body = await response.text();\n  throw new Error(`Circle API error ${response.status}: ${body}`);\n}\n\nconst data = await response.json();\nreturn [{ json: { balances: data.balances, token: data.token } }];"
      },
      "id": "fetch-balance",
      "name": "Fetch Gateway Balance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, -100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gateway.thegraph.com/api/{{ $env.GRAPH_API_KEY }}/subgraphs/id/{{ $env.GRAPH_SUBGRAPH_ARBITRUM || '5zvR82QoaXYFyDEKLZ9t6v9adgnptxYpKpSbxtgVENFV' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{ bundles(first: 1) { ethPriceUSD } }\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-price",
      "name": "Fetch ETH Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [220, 100],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Fetch on-chain wallet balances (USDC + ETH) on each chain via JSON-RPC\nconst fetch = require('node-fetch');\nconst treasury = $env.TREASURY_ADDRESS;\n\nconst chains = [\n  { name: 'Ethereum', rpc: $env.RPC_ETHEREUM || 'https://eth.llamarpc.com', usdc: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48' },\n  { name: 'Arbitrum', rpc: $env.RPC_ARBITRUM || 'https://arb1.arbitrum.io/rpc', usdc: '0xaf88d065e77c8cC2239327C5EDb3A432268e5831' },\n  { name: 'Base', rpc: $env.RPC_BASE || 'https://mainnet.base.org', usdc: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913' },\n];\n\n// ERC20 balanceOf(address) selector = 0x70a08231 + address padded to 32 bytes\nconst balanceOfData = '0x70a08231' + treasury.slice(2).toLowerCase().padStart(64, '0');\n\nasync function rpcCall(rpc, method, params) {\n  const res = await fetch(rpc, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ jsonrpc: '2.0', id: 1, method, params }),\n  });\n  const data = await res.json();\n  return data.result || '0x0';\n}\n\nconst results = await Promise.all(chains.map(async (chain) => {\n  try {\n    const [ethHex, usdcHex] = await Promise.all([\n      rpcCall(chain.rpc, 'eth_getBalance', [treasury, 'latest']),\n      rpcCall(chain.rpc, 'eth_call', [{ to: chain.usdc, data: balanceOfData }, 'latest']),\n    ]);\n    const ethBalance = parseInt(ethHex, 16) / 1e18;\n    const usdcBalance = parseInt(usdcHex, 16) / 1e6;\n    return { chain: chain.name, ethBalance, usdcBalance };\n  } catch (err) {\n    return { chain: chain.name, ethBalance: 0, usdcBalance: 0 };\n  }\n}));\n\nreturn [{ json: { _type: 'wallet_balances', wallet_balances: results } }];"
      },
      "id": "fetch-wallet",
      "name": "Fetch Wallet Balances",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-gw-price",
      "name": "Merge Gateway + Price",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [440, 0]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-all",
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [550, 100]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Process merged data from Circle Gateway, The Graph, and wallet RPC\nconst items = $input.all();\n\nlet balanceData = {};\nlet priceData = {};\nlet walletData = [];\n\nfor (const item of items) {\n  const json = item.json || {};\n  if (json._type === 'wallet_balances') {\n    walletData = json.wallet_balances || [];\n  } else if (json.data?.bundles) {\n    priceData = json;\n  } else if (json.token === 'USDC' || json.balances || json.data?.balances) {\n    balanceData = json;\n  }\n}\n\n// Circle Gateway balance — unified, chain-abstracted (one total)\nlet gateway_usd = 0;\nconst balances = balanceData.balances || balanceData.data?.balances || [];\nfor (const bal of balances) {\n  gateway_usd += parseFloat(bal.balance || bal.amount || '0');\n}\n\n// ETH price from The Graph\nlet eth_price = 0;\nif (priceData.data?.bundles?.[0]) {\n  eth_price = parseFloat(priceData.data.bundles[0].ethPriceUSD) || 0;\n}\n\n// Wallet balances per chain\nlet wallet_usdc = 0;\nlet wallet_eth_usd = 0;\nconst wallet_chains = walletData.map(w => {\n  wallet_usdc += w.usdcBalance || 0;\n  wallet_eth_usd += (w.ethBalance || 0) * eth_price;\n  return {\n    chain: w.chain,\n    usdc: w.usdcBalance || 0,\n    eth: w.ethBalance || 0,\n    eth_usd: (w.ethBalance || 0) * eth_price,\n  };\n});\n\nreturn [{\n  json: {\n    total_usd: gateway_usd + wallet_usdc + wallet_eth_usd,\n    gateway_usd,\n    wallet_usdc,\n    wallet_eth_usd,\n    wallet_chains,\n    eth_price,\n    timestamp: new Date().toISOString(),\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [970, 100]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Fetch Gateway Balance", "type": "main", "index": 0 },
          { "node": "Fetch ETH Price", "type": "main", "index": 0 },
          { "node": "Fetch Wallet Balances", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Gateway Balance": {
      "main": [
        [{ "node": "Merge Gateway + Price", "type": "main", "index": 0 }]
      ]
    },
    "Fetch ETH Price": {
      "main": [
        [{ "node": "Merge Gateway + Price", "type": "main", "index": 1 }]
      ]
    },
    "Merge Gateway + Price": {
      "main": [
        [{ "node": "Merge All", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Wallet Balances": {
      "main": [
        [{ "node": "Merge All", "type": "main", "index": 1 }]
      ]
    },
    "Merge All": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
