n8n/workflows/get-balance.json
{
  "name": "Get Balance (API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-balance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "get-balance"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Read Gateway balances on-chain via RPC (instant, no Circle API lag)\nconst { ethers } = require('ethers');\n\nconst GATEWAY_WALLET = '0x77777777Dcc4d5A8B6E418Fd04D8997ef11000eE';\nconst USDC = {\n  1: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48',\n  42161: '0xaf88d065e77c8cC2239327C5EDb3A432268e5831',\n  8453: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913',\n};\nconst CHAINS = [\n  { chainId: 1, domain: 0, rpc: 'https://eth.llamarpc.com' },\n  { chainId: 42161, domain: 3, rpc: $env.RPC_ARBITRUM || 'https://arb1.arbitrum.io/rpc' },\n  { chainId: 8453, domain: 6, rpc: $env.RPC_BASE || 'https://mainnet.base.org' },\n];\n\nconst abi = ['function totalBalance(address token, address depositor) view returns (uint256)'];\nconst depositor = $env.TREASURY_ADDRESS;\n\nconst balances = [];\nfor (const chain of CHAINS) {\n  try {\n    const provider = new ethers.JsonRpcProvider(chain.rpc);\n    const contract = new ethers.Contract(GATEWAY_WALLET, abi, provider);\n    const balance = await contract.totalBalance(USDC[chain.chainId], depositor);\n    balances.push({ domain: chain.domain, balance: ethers.formatUnits(balance, 6) });\n  } catch (e) {\n    balances.push({ domain: chain.domain, balance: '0' });\n  }\n}\n\nreturn [{ json: { balances } }];"
      },
      "id": "fetch-balance",
      "name": "Fetch Gateway Balance (On-Chain)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, -100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gateway.thegraph.com/api/{{ $env.GRAPH_API_KEY }}/subgraphs/id/{{ $env.GRAPH_SUBGRAPH_ARBITRUM || '5zvR82QoaXYFyDEKLZ9t6v9adgnptxYpKpSbxtgVENFV' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{ bundles(first: 1) { ethPriceUSD } }\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-price",
      "name": "Fetch ETH Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [220, 100],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [440, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Process merged data from Circle Gateway and The Graph\nconst items = $input.all();\n\nlet balanceData = {};\nlet priceData = {};\n\n// Identify which response is which by structure\nfor (const item of items) {\n  const json = item.json || {};\n  if (json.data?.bundles) {\n    priceData = json;\n  } else if (json.token === 'USDC' || json.balances || json.data?.balances) {\n    balanceData = json;\n  }\n}\n\n// Parse Circle Gateway balance\nlet totalUsd = 0;\nconst chains = [];\nconst domainNames = {\n  0: 'Ethereum',\n  3: 'Arbitrum', \n  6: 'Base'\n};\n\nconst balances = balanceData.balances || balanceData.data?.balances || [];\nfor (const bal of balances) {\n  const amount = parseFloat(bal.balance || bal.amount || '0');\n  totalUsd += amount;\n  chains.push({\n    chain: domainNames[bal.domain] || `Domain ${bal.domain}`,\n    token: 'USDC',\n    balance: bal.balance || String(amount),\n    balance_usd: amount,\n  });\n}\n\n// Parse ETH price from The Graph\nlet ethPrice = 0;\nif (priceData.data?.bundles?.[0]) {\n  ethPrice = parseFloat(priceData.data.bundles[0].ethPriceUSD) || 0;\n}\n\nreturn [{\n  json: {\n    total_usd: totalUsd,\n    chains: chains,\n    eth_price: ethPrice,\n    timestamp: new Date().toISOString(),\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Fetch Gateway Balance (On-Chain)", "type": "main", "index": 0 },
          { "node": "Fetch ETH Price", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Gateway Balance (On-Chain)": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 0 }]
      ]
    },
    "Fetch ETH Price": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 1 }]
      ]
    },
    "Merge Data": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
