n8n/workflows/price-monitor.json
{
  "name": "Price Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gateway.thegraph.com/api/{{ $env.GRAPH_API_KEY }}/subgraphs/id/{{ $env.GRAPH_SUBGRAPH_ARBITRUM || '5zvR82QoaXYFyDEKLZ9t6v9adgnptxYpKpSbxtgVENFV' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{ bundles(first: 1) { ethPriceUSD } }\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-price",
      "name": "Fetch ETH Price (The Graph)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [220, 0],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse price and check against thresholds\nconst items = $input.all();\nconst response = items[0]?.json || {};\n\n// Parse ETH price from The Graph bundles response\nlet price = 0;\nif (response.data?.bundles?.[0]) {\n  price = parseFloat(response.data.bundles[0].ethPriceUSD) || 0;\n}\n\nif (price === 0) {\n  return [{\n    json: {\n      token: 'ETH',\n      price: 0,\n      alertType: 'fetch_error',\n      severity: 'warning',\n      message: 'Failed to fetch ETH price from The Graph',\n      shouldAlert: true,\n      source: 'thegraph_uniswap_arbitrum',\n      timestamp: new Date().toISOString(),\n      highThreshold: 4000,\n      lowThreshold: 2500,\n    }\n  }];\n}\n\nconst token = 'ETH';\n\n// Hardcoded thresholds (env vars not accessible in worker)\nconst highThreshold = 4000;\nconst lowThreshold = 2500;\n\nlet alertType = null;\nlet severity = 'warning';\nlet message = '';\n\nif (price >= highThreshold) {\n  alertType = 'price_high';\n  message = `${token} price ($${price.toFixed(2)}) exceeded high threshold ($${highThreshold})`;\n  severity = 'warning';\n} else if (price <= lowThreshold) {\n  alertType = 'price_low';\n  message = `${token} price ($${price.toFixed(2)}) dropped below low threshold ($${lowThreshold})`;\n  severity = 'critical';\n}\n\nreturn [{\n  json: {\n    token,\n    price,\n    alertType,\n    severity,\n    message,\n    shouldAlert: alertType !== null,\n    highThreshold,\n    lowThreshold,\n    source: 'thegraph_uniswap_arbitrum',\n    timestamp: new Date().toISOString(),\n  }\n}];"
      },
      "id": "check-thresholds",
      "name": "Check Thresholds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-alert",
              "leftValue": "={{ $json.shouldAlert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-alert",
      "name": "Should Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_ALERTS }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"Price Alert\",\n    \"description\": \"{{ $json.message }}\",\n    \"color\": {{ $json.severity === 'critical' ? 15158332 : 16776960 }},\n    \"fields\": [\n      {\n        \"name\": \"Token\",\n        \"value\": \"{{ $json.token }}\",\n        \"inline\": true\n      },\n      {\n        \"name\": \"Current Price\",\n        \"value\": \"${{ $json.price.toFixed(2) }}\",\n        \"inline\": true\n      },\n      {\n        \"name\": \"Alert Type\",\n        \"value\": \"{{ $json.alertType }}\",\n        \"inline\": true\n      },\n      {\n        \"name\": \"Thresholds\",\n        \"value\": \"High: ${{ $json.highThreshold }} | Low: ${{ $json.lowThreshold }}\",\n        \"inline\": false\n      }\n    ],\n    \"footer\": {\n      \"text\": \"Treasury Ops Bot | Source: {{ $json.source }}\"\n    },\n    \"timestamp\": \"{{ $json.timestamp }}\"\n  }]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "discord-alert",
      "name": "Send Alert to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [880, -100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Skip Appwrite save - env vars not accessible in worker\nconst items = $input.all();\nreturn [{ json: { saved: false, reason: 'Appwrite save skipped (worker mode)', alertData: items[0]?.json } }];"
      },
      "id": "save-alert",
      "name": "Save Alert to Appwrite",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Skip Appwrite save - env vars not accessible in worker\nconst items = $input.all();\nlet data;\ntry {\n  data = $('Check Thresholds').first()?.json || items[0]?.json || {};\n} catch (e) {\n  data = items[0]?.json || {};\n}\nreturn [{ json: { saved: false, reason: 'Price history save skipped (worker mode)', price: data.price } }];"
      },
      "id": "save-price",
      "name": "Save Price to History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [{ "node": "Fetch ETH Price (The Graph)", "type": "main", "index": 0 }]
      ]
    },
    "Fetch ETH Price (The Graph)": {
      "main": [
        [{ "node": "Check Thresholds", "type": "main", "index": 0 }]
      ]
    },
    "Check Thresholds": {
      "main": [
        [
          { "node": "Should Alert?", "type": "main", "index": 0 },
          { "node": "Save Price to History", "type": "main", "index": 0 }
        ]
      ]
    },
    "Should Alert?": {
      "main": [
        [
          { "node": "Send Alert to Discord", "type": "main", "index": 0 },
          { "node": "Save Alert to Appwrite", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
